* {
    padding: 0;
    margin: 0;
}

/*------------ Menu Section -----------------*/
.menu-section-10 {
    background: url("../img/banniere.jpg");
    background-size: cover;
    height: 1190px;
}

.logo-titi-60 {
    position: absolute;
    width: 120px;
    height: 90px;
    margin-left: 50px;
    margin-top: 10px;
}

/*--------- Borders sections 60-----------------*/
.text-collect-60 {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.link-collect-60 {
    text-decoration: none;
}

.text-delivery-60 {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.borders-sections-60 {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 1160px;
    position: absolute;
}

.under-section-accompaniment {
    border: 1px solid #F59606;
    background-color: #F59606;
    border-radius: 5px;
    position: absolute;
    margin-left: -120px;
    width: 145px;
    height: 40px;
}

.under-section-60 {
    border: 1px solid #F59606;
    background-color: #F59606;
    border-radius: 5px;
    position: absolute;
    margin-left: 56px;
    width: 145px;
    height: 40px;
}


/*----------- Section Flex - 60 ----------------*/
.section-flex-60 {
    position: absolute;
    margin-top: 180px;
    display: flex;
    margin-left: 75px;
}

.section-description-60 {
    position: absolute;
    margin-left: 150px;
    width: 260px;
    margin-top: -40px;
}

.title-burgers-60 {
    color: #fff;
    font-size: 25px;
}

.description-accompaniment-1 {
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    position: absolute;
}

.section-collect-60 {
    position: absolute;
    margin-left: 970px;
    width: 220px;
    margin-top: -40px;
}

.img-accompaniment {
    position: absolute;
    width: 222px;
}

.under-description-60 {
    color: #fff;
    position: absolute;
    font-size: 19px;
    margin-left: 25px;
    margin-top: 50px;
}

/*------------ Section Progress 60 --------------*/
.section-progress-60 {
    margin-top: 434px;
    position: absolute;
}

.under-tracker-60 {
    display: flex;
    position: absolute;
    margin-left: 585px;
    margin-top: -180px;
}

.progress-tracker-5 {
    background-color: #D9D9D9;
    border: 15px solid #ADB7C6;
    border-radius: 15px;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 33px;
}

.line-5 {
    width: 40px;
    position: absolute;
    margin-top: 45px;
    margin-left: 121px;
    background-color: #ADB7C6;
    height: 5px;
}

.progress-tracker-6 {
    background-color: #D9D9D9;
    border: 15px solid #ADB7C6;
    border-radius: 15px;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 161px;
}

.line-6 {
    width: 40px;
    position: absolute;
    margin-top: 45px;
    margin-left: 249px;
    background-color: #ADB7C6;
    height: 5px;
}

.progress-tracker-7 {
    background-color: #D9D9D9;
    border: 15px solid #ADB7C6;
    border-radius: 15px;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 290px;
}

.line-7 {
    width: 46px;
    position: absolute;
    margin-top: 45px;
    margin-left: 379px;
    height: 5px;
    background-color: #ADB7C6;
}

.progress-tracker-8 {
    background-color: #D9D9D9;
    border: 15px solid #ADB7C6;
    border-radius: 15px;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 425px;
}

.line-8 {
    width: 100px;
    position: absolute;
    margin-top: 45px;
    margin-left: 514px;
    height: 5px;
    background-color: #ADB7C6;
}

.img-cards-60 {
    position: absolute;
    margin-left: 640px;
    margin-top: 24px;
}

.paycheck-60 {
    position: absolute;
    margin-left: 710px;
    margin-top: 42px;
    color: #fff;
}


/*-------------- Menu Flex-60 ------------------*/
.menu-flex-60 {
    position: absolute;
    margin-top: 415px;
    border: 20px solid #fff;
    background: rgb(255, 255, 255, 0.5);
    width: 820px;
    height: 500px;
    margin-left: 300px;
    border-radius: 50px;
}

.under-menu-flex-60 {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 25px;
    margin-left: 50px;
}

.radio-4 {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    margin-top: 70px;
    margin-left: 50px;
}

.burger-dark-60 {
    width: 160px;
    position: absolute;
    height: 170px;
    margin-left: 100px;
}

.flex-menu-60 {
    position: absolute;
}

.titi-dark-60 {
    color: #fff;
    margin-top: 190px;
    position: absolute;
    margin-left: 160px;
    white-space: nowrap;
}

.flex-menu-61 {
    position: absolute;
    margin-left: 150px;
}

.original-burger-60 {
    width: 190px;
    position: absolute;
    margin-left: 280px;
    height: 170px;
}

.titi-original-60 {
    color: #fff;
    margin-top: 185px;
    margin-left: 320px;
    position: absolute;
    white-space: nowrap;
}

.under-menu-flex-61 {
    display: flex;
    margin-top: 270px;
    justify-content: space-between;
    margin-left: 50px;
}

.flex-menu-62 {
    position: absolute;
}

.titi-vegie-60 {
    color: #fff;
    margin-top: 182px;
    position: absolute;
    margin-left: 160px;
    white-space: nowrap;
}

.vegie-burger-60 {
    width: 160px;
    position: absolute;
    height: 170px;
    margin-left: 100px;
}

.flex-menu-63 {
    position: absolute;
    margin-left: 150px;
}

.titi-big-60 {
    color: #fff;
    margin-top: 181px;
    position: absolute;
    margin-left: 360px;
    white-space: nowrap;
}

.big-burger-60 {
    width: 190px;
    position: absolute;
    margin-left: 60px;
    height: 170px;
    margin-left: 280px;
}

/*------------ Radio-4  -------------*/

.radio-4 input {
    display: none;
}

.custom-radio-4 {
    width: 30px;
    height: 30px;
    border: 3px solid #5a6e8a;
    /* cercle extérieur */
    border-radius: 50%;
    position: relative;

}

.radio-4 input:checked+.custom-radio::before {
    content: "";
    width: 16px;
    height: 16px;
    background: #5a6e8a;
    /* point central */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


/*------------ Radio - 5 -------------*/
.radio-5 {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    margin-top: 70px;
    margin-left: 230px;

}

.radio-5 input {
    display: none;
}

.custom-radio-5 {
    width: 30px;
    height: 30px;
    border: 3px solid #5a6e8a;
    /* cercle extérieur */
    border-radius: 50%;
    position: relative;

}

.radio-5 input:checked+.custom-radio-1::before {
    content: "";
    width: 16px;
    height: 16px;
    background: #5a6e8a;
    /* point central */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


/*------------ Radio - 6 -------------*/

.radio-6 {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    margin-top: 70px;
    margin-left: 50px;

}

.radio-6 input {
    display: none;
}

.custom-radio-6 {
    width: 30px;
    height: 30px;
    border: 3px solid #5a6e8a;
    /* cercle extérieur */
    border-radius: 50%;
    position: relative;

}

.radio-6 input:checked+.custom-radio-2::before {
    content: "";
    width: 16px;
    height: 16px;
    background: #5a6e8a;
    /* point central */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/*------------ Radio - 7 -------------*/

.radio-7 {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    margin-top: 70px;
    margin-left: 230px;

}

.radio-7 input {
    display: none;
}

.custom-radio-7 {
    width: 30px;
    height: 30px;
    border: 3px solid #5a6e8a;
    /* cercle extérieur */
    border-radius: 50%;
    position: relative;

}

.radio-7 input:checked+.custom-radio-3::before {
    content: "";
    width: 16px;
    height: 16px;
    background: #5a6e8a;
    /* point central */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/*----------- Section Start ------------*/
.section-start-60 {
    height: 175px;
    margin-top: 965px;
    position: absolute;
}

/* .border-start-60 {
    margin-top: 50px;
    position: absolute;
    margin-left: 460px;
    background: #576D8B;
    height: 100px;
    width: 600px;
} */

.under-border-start-60 {
    position: absolute;
    margin-top: 70px;
    margin-left: 610px;
    background: #F59606;
    width: 280px;
    height: 60px;
}

.text-start-60 {
    color: #EEEEEE;
    position: absolute;
    margin-top: 14px;
    margin-left: 110px;
    font-size: 22px;
}


/*-------------Footer-----------------*/
.footer-accompaniment {
    background: #6341EB;
}

.under-section-footer-accompaniment {
    display: flex;
    justify-content: space-around;
}

.footer-list-accompaniment li {
    list-style: none;
    color: #EEEEEE;
}

.footer-list-accompaniment {
    margin-top: 10px;
}

.list-cgu-collect-accompaniment {
    margin-top: 10px;
}

.list-cgv-collect-accompaniment {
    margin-top: 10px;
}

.footer-list-accompaniment-1 li {
    list-style: none;
    color: #EEEEEE;
}

.footer-list-accompaniment-1 {
    margin-top: 10px;
}

.list-web-collect-accompaniment {
    margin-top: 10px;
}

.list-map-collect-accompaniment {
    margin-top: 10px;
}

.list-titi-collect-accompaniment {
    margin-top: 10px;
}

.list-story-collect-accompaniment {
    margin-top: 10px;
}

.list-actu-collect-accompaniment {
    margin-top: 10px;
}

.footer-list-accompaniment-2 li {
    list-style: none;
    color: #EEEEEE;
}

.footer-list-accompaniment-2 {
    margin-top: 10px;
}

.footer-list-accompaniment-3 li {
    list-style: none;
    color: #EEEEEE;
}

.footer-list-accompaniment-3 {
    margin-top: 10px;
}

.list-contact-collect-accompaniment {
    margin-top: 10px;
}

.list-find-collect-accompaniment {
    margin-top: 10px;
}

.list-faq-collect-accompaniment {
    margin-top: 10px;
}

.footer-list-accompaniment-4 li {
    list-style: none;
}

.footer-list-accompaniment-4 {
    margin-top: 10px;
}

.logo-insta-accompaniment-1 {
    width: 50px;
}

.logo-facebook-accompaniment-2 {
    width: 50px;
}

.logo-tiktok-accompaniment-3 {
    width: 50px;
}