* {
    margin: 0;
    padding: 0;
}

/*----------- Header ---------------------------*/
.header {
    background-image: url("../img/banniere.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
}

.logo {
    width: 170px;
    margin-left: 70px;
    margin-top: 30px;
}

/*--------- Borders sections-----------------*/
.text-collect {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.link-collect {
    text-decoration: none;
}

.text-delivery {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.borders-sections {
    display: flex;
    flex-direction: row;
    /* float: right; */
    margin-top: -100px;
    margin-left: 1160px;
}

.under-section-1 {
    border: 1px solid #F59606;
    background-color: #F59606;
    border-radius: 5px;
    position: absolute;
    margin-left: -120px;
    width: 145px;
    height: 40px;
}

.under-section-2 {
    border: 1px solid #F59606;
    background-color: #F59606;
    border-radius: 5px;
    position: absolute;
    margin-left: 56px;
    width: 145px;
    height: 40px;
}

/*----------Section Menu----------------*/
.under-section-menu {
    display: flex;
    margin-left: 926px;
    margin-top: 57px;
}

.text-menu-1 {
    color: #FF9C96;
    font-size: 20px;
}

.text-menu-2 {
    color: #FF9C96;
    margin-left: 30px;
    font-size: 20px;
}

.text-menu-3 {
    color: #FF9C96;
    margin-left: 30px;
    font-size: 20px;
}

.text-menu-4 {
    color: #FF9C96;
    margin-left: 30px;
    font-size: 20px;
}

.text-menu-5 {
    color: #FF9C96;
    margin-left: 30px;
    font-size: 20px;
}

/*---------- Section -1 ---------------*/
.section-1 {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.image-1 {
    width: 280px;
    height: 200px;
    margin-top: 15px;
}

.title-resto {
    color: #2BF567;
    font-size: 30px;
    font-weight: unset;
}

.title-story {
    color: #2BF567;
    font-size: 30px;
    font-weight: unset;
}

.title-team {
    color: #2BF567;
    font-size: 15px;
    font-weight: unset;
    margin-top: 15px;
}

.text-story {
    margin-top: 20px;
}

.read-next {
    margin-top: 70px;
}

/*------------------ Section-2---------------*/
.section-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.title-burger {
    color: #2BF567;
    font-size: 30px;
    font-weight: unset;
    margin-top: 40px;
}

.text-about {
    margin-top: 40px;
}

.under-flex-3 {
    position: absolute;
    margin-left: -829px;
}

/*---------------- Carousel------------------*/
.carousel {
    position: absolute;
    width: 437px;
    height: 297px;
    margin: 40px 60px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.carousel-image-container {
    width: 100%;
    height: 100%;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: inherit;
    transition: opacity 0.6s ease-in-out;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-button.left {
    left: 15px;
}

.carousel-button.right {
    right: 15px;
}

/*---------------- Section 3 ----------------*/
.under-title {
    margin-top: 372px;
}

.title-news {
    text-align: center;
    color: #2BF567;
    font-size: 30px;
    font-weight: unset;
}

.title-article-1 {
    text-align: center;
    font-size: 20px;
    font-weight: unset;
}

.img-article-1 {
    height: 230px;
    width: 249px;
    margin-top: 10px;
}

.button-section-1 {
    border: 1px solid #F59606;
    background: #F59606;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    height: 30px;
    margin-left: 50px;
    margin-top: 10px;
}

.paragraph-plus-1 {
    margin-top: 5px;
}


.title-article-2 {
    text-align: center;
    font-size: 20px;
    font-weight: unset;
}

.img-article-2 {
    height: 230px;
    width: 249px;
    margin-top: 10px;
}

.button-section-2 {
    border: 1px solid #F59606;
    background: #F59606;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    height: 30px;
    margin-left: 50px;
    margin-top: 10px;
}

.paragraph-plus-2 {
    margin-top: 5px;
}


.title-article-3 {
    text-align: center;
    font-size: 20px;
    font-weight: unset;
}

.img-article-3 {
    height: 230px;
    width: 249px;
    margin-top: 10px;
}

.button-section-3 {
    border: 1px solid #F59606;
    background: #F59606;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    height: 30px;
    margin-left: 50px;
    margin-top: 10px;
}

.paragraph-plus-3 {
    margin-top: 5px;
}

.section-flex {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/*------------ Section newsletter ------------*/
.section-newsletter {
    background: #EEEEEE;
    margin-top: 20px;
    height: 200px;
}

.newsletter-flex {
    display: flex;
    background: #2A7FFF;
    width: 1138px;
    border: 1px solid #2A7FFF;
    border-radius: 5px;
    position: absolute;
    margin-top: 50px;
    margin-left: 170px;
    height: 110px;
}

.flex-1 {
    margin-top: 20px;
}

.text-titi-1 {
    color: #EEEEEE;
    position: absolute;
    margin-top: 5px;
    margin-left: 20px;
}

.text-titi-2 {
    color: #EEEEEE;
    position: absolute;
    margin-left: 20px;
    margin-top: 29px;
}

.flex-2 {
    margin-top: 40px;
}

.under-flex-14 {
    color: #EEEEEE;
    position: absolute;
    margin-left: 369px;
    margin-top: 13px;
}

.right-arrow {
    margin-left: 453px;
    width: 15px;
    margin-top: 15px;
    position: absolute;
}

.flex-3 {
    margin-top: 10px;
    margin-left: 5px;
}

.text-newsletter {
    color: #EEEEEE;
    font-size: 15px;
    margin-left: 375px;
    position: absolute;
    margin-top: 7px;
}

.forms {
    border-radius: 3px;
    border: 1px solid #fff;
    position: absolute;
    width: 370px;
    height: 47px;
    margin-top: 29px;
    margin-left: 90px;
}

.btn-img-1 {
    position: absolute;
    margin-left: 472px;
    width: 45px;
    margin-top: 31px;
}

.button {
    background: #F59606;
    border: 1px solid #F59606;
    width: 50px;
    margin-left: 470px;
    height: 50px;
    border-radius: 5px;
    position: absolute;
    margin-top: 29px;
}

/*-------------Footer-----------------*/
.footer {
    background: #6341EB;
}

.under-section-footer {
    display: flex;
    justify-content: space-around;
}

.footer-list-1 li {
    list-style: none;
    color: #EEEEEE;
}

.footer-list-1 {
    margin-top: 10px;
}

.list-cgu {
    margin-top: 10px;
}

.list-cgv {
    margin-top: 10px;
}

.footer-list-2 li {
    list-style: none;
    color: #EEEEEE;
}

.footer-list-2 {
    margin-top: 10px;
}

.list-web {
    margin-top: 10px;
}

.list-map {
    margin-top: 10px;
}

.list-titi-1 {
    margin-top: 10px;
}

.list-story-1 {
    margin-top: 10px;
}

.list-actu {
    margin-top: 10px;
}

.footer-list-3 li {
    list-style: none;
    color: #EEEEEE;
}

.footer-list-3 {
    margin-top: 10px;
}

.footer-list-4 li {
    list-style: none;
    color: #EEEEEE;
}

.footer-list-4 {
    margin-top: 10px;
}

.list-contact {
    margin-top: 10px;
}

.list-find {
    margin-top: 10px;
}

.list-faq {
    margin-top: 10px;
}

.footer-list-5 li {
    list-style: none;
}

.footer-list-5 {
    margin-top: 10px;
}

.logo-insta {
    width: 50px;
}

.logo-facebook {
    width: 50px;
}

.logo-tiktok {
    width: 50px;
}