* {
    margin: 0;
    padding: 0;
}

/* /*--------- Menu section ----------------*/
.menu-section {
    background: url("../img/banniere.jpg");
    background-size: cover;
    height: 1190px;
}

.logo-titi-5 {
    position: absolute;
    width: 120px;
    height: 90px;
    margin-left: 50px;
    margin-top: 10px;
}


/*--------- Borders sections-----------------*/
.text-collect-13 {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.link-collect-13 {
    text-decoration: none;
}

.text-delivery-13 {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.borders-sections-13 {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 1160px;
    position: absolute;
}

.under-section-burger {
    border: 1px solid #F59606;
    background-color: #F59606;
    border-radius: 5px;
    position: absolute;
    margin-left: -120px;
    width: 145px;
    height: 40px;
}

.under-section-14 {
    border: 1px solid #F59606;
    background-color: #F59606;
    border-radius: 5px;
    position: absolute;
    margin-left: 56px;
    width: 145px;
    height: 40px;
}

/*----------- Section Flex ----------------*/
.section-flex-1 {
    position: absolute;
    margin-top: 180px;
    display: flex;
    /* justify-content: space-between;*/
    margin-left: 75px;
}

.section-description {
    position: absolute;
    margin-left: 150px;
    width: 260px;
}

.title-burgers-1 {
    color: #fff;
    font-size: 25px;
}

.description-burger-1 {
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    position: absolute;
}

.section-collect-100 {
    position: absolute;
    margin-left: 970px;
    width: 220px;
}

.img-burger {
    position: absolute;
    width: 222px;
}

.under-description-1 {
    color: #fff;
    position: absolute;
    font-size: 19px;
    margin-left: 25px;
    margin-top: 50px;
}

/*------------ Section Progress --------------*/
.section-progress {
    margin-top: 434px;
    position: absolute;
}

.under-tracker {
    display: flex;
    position: absolute;
    margin-left: 585px;
    margin-top: -35px;
}

.progress-tracker-1 {
    background-color: #D9D9D9;
    border: 15px solid #ADB7C6;
    border-radius: 15px;
    width: 90px;
    height: 90px;
    position: absolute;
}

.line-1 {
    width: 21px;
    position: absolute;
    margin-top: 60px;
    margin-left: 118px;
    background-color: #ADB7C6;
    height: 5px;
}

.progress-tracker-2 {
    background-color: #D9D9D9;
    border: 15px solid #ADB7C6;
    border-radius: 15px;
    width: 90px;
    height: 90px;
    position: absolute;
    margin-left: 140px;
}

.line-2 {
    width: 21px;
    position: absolute;
    margin-top: 60px;
    margin-left: 259px;
    background-color: #ADB7C6;
    height: 5px;
}

.progress-tracker-3 {
    background-color: #D9D9D9;
    border: 15px solid #ADB7C6;
    border-radius: 15px;
    width: 90px;
    height: 90px;
    position: absolute;
    margin-left: 280px;
}

.line-3 {
    width: 22px;
    position: absolute;
    margin-top: 60px;
    margin-left: 400px;
    height: 5px;
    background-color: #ADB7C6;
}

.progress-tracker-4 {
    background-color: #D9D9D9;
    border: 15px solid #ADB7C6;
    border-radius: 15px;
    width: 90px;
    height: 90px;
    position: absolute;
    margin-left: 425px;
}

.line-4 {
    width: 100px;
    position: absolute;
    margin-top: 60px;
    margin-left: 544px;
    height: 5px;
    background-color: #ADB7C6;
}

.img-cards {
    position: absolute;
    margin-left: 655px;
    margin-top: 41px;
}

.paycheck {
    position: absolute;
    margin-left: 725px;
    margin-top: 58px;
    color: #fff;
}

/*-------------- Menu Flex ------------------*/
.menu-flex-1 {
    position: absolute;
    margin-top: 630px;
    border: 1px solid #fff;
    width: 820px;
    height: 500px;
    margin-left: 300px;
    border-radius: 5px;
}

.under-menu-flex-1 {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 25px;
    margin-left: 50px;
}

.burger-dark {
    width: 160px;
    position: absolute;
    height: 170px;
    margin-left: 100px;
}

.flex-menu-1 {
    position: absolute;
}

.titi-dark {
    color: #fff;
    margin-top: 190px;
    position: absolute;
    margin-left: 140px;
    white-space: nowrap;
}

.flex-menu-2 {
    position: absolute;
    margin-left: 150px;
}

.original-burger {
    width: 190px;
    position: absolute;
    margin-left: 280px;
    height: 170px;
}

.titi-original {
    color: #fff;
    margin-top: 185px;
    margin-left: 345px;
    position: absolute;
    white-space: nowrap;
}

.under-menu-flex-2 {
    display: flex;
    margin-top: 270px;
    justify-content: space-between;
    margin-left: 50px;
}

.flex-menu-3 {
    position: absolute;
}

.titi-vegie {
    color: #fff;
    margin-top: 182px;
    position: absolute;
    margin-left: 150px;
    white-space: nowrap;
}

.vegie-burger {
    width: 160px;
    position: absolute;
    height: 170px;
    margin-left: 100px;
}

.flex-menu-4 {
    position: absolute;
    margin-left: 150px;
}

.titi-big {
    color: #fff;
    margin-top: 181px;
    position: absolute;
    margin-left: 350px;
    white-space: nowrap;
}

.big-burger {
    width: 190px;
    position: absolute;
    margin-left: 60px;
    height: 170px;
    margin-left: 280px;
}