* {
    margin: 0;
    padding: 0;
}

/*-------------- Background section ---------------*/
.background-section {
    background: url("../img/banniere.jpg");
    background-size: cover;
    height: 700px;
}

.logo-section {
    width: 120px;
    height: 90px;
    position: absolute;
    margin-left: 50px;
    margin-top: 10px;
}

.section-border {
    position: absolute;
    margin-top: 130px;
    /* background: #F59606; */
    border: 1px solid #F59606;
    border-radius: 5px;
    margin-left: 490px;
    width: 530px;
    height: 450px;
    /* background-color: rgba(245, 150, 60.5);
    opacity: 0.9; */
}

.img-collect {
    margin-left: 55px;
    margin-top: 70px;
}

.flash-down {
    margin-top: 2px;
    margin-left: 282px;
    position: absolute;
}

.under-border-text-1 {
    color: #EEEEEE;
    position: absolute;
    margin-left: 186px;
    margin-top: 80px;
    font-size: 22px;
}

.under-border-text-2 {
    color: #EEEEEE;
    position: absolute;
    margin-top: 105px;
    text-align: center;
    margin-left: 172px;
}

/* .logo-border {
    width: 101px;
    margin-left: 220px;
    margin-top: 20px;
}

.paragraph-order {
    margin-top: 15px;
    position: absolute;
    margin-left: 180px;
    color: #fff;
} */

/* .section-choice {
    margin-top: 80px;
    margin-left: 6px;
    display: flex;
    justify-content: center;
}

.img-shopify {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 27px;
    margin-left: 30px;
}

.img-bicycle {
    position: absolute;
    width: 77px;
    height: 50px;
    margin-left: 20px;
    margin-top: 25px;
}

.under-choice-1 {
    background: #EEEEEE;
    height: 100px;
    width: 120px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    position: absolute;
    margin-left: -120px;
}

.link-choice-1 {
    text-decoration: none;
    color: black;
}

.away {
    position: absolute;
    margin-left: 30px;
    margin-top: 5px;
}

.under-choice-2 {
    background: #EEEEEE;
    height: 100px;
    width: 120px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    margin-left: 144px;
    position: absolute;
}

.link-choice-2 {
    text-decoration: none;
    color: black;
}

.delivery {
    position: absolute;
    margin-left: 19px;
    margin-top: 5px;
} */

/*--------- Borders sections-----------------*/
.text-collect-2 {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.link-collect-2 {
    text-decoration: none;
}

.text-delivery-2 {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.borders-sections-11 {
    display: flex;
    flex-direction: row;
    /* float: right; */
    margin-top: 40px;
    margin-left: 1160px;
    position: absolute;
}

.under-section-12 {
    border: 1px solid #F59606;
    background-color: #F59606;
    border-radius: 5px;
    position: absolute;
    margin-left: -120px;
    width: 145px;
    height: 40px;
}

.under-section-13 {
    border: 1px solid #F59606;
    background-color: #F59606;
    border-radius: 5px;
    position: absolute;
    margin-left: 56px;
    width: 145px;
    height: 40px;
}


/*----------- Section Start ------------*/
.section-start {
    background: #D9D9D9;
    height: 175px;
}

.border-start {
    margin-top: 50px;
    position: absolute;
    margin-left: 460px;
    background: #576D8B;
    height: 100px;
    width: 600px;
}

.under-border-start {
    position: absolute;
    margin-top: 20px;
    margin-left: 180px;
    background: #F59606;
    width: 280px;
    height: 60px;
}

.text-start {
    color: #EEEEEE;
    position: absolute;
    margin-top: 14px;
    margin-left: 90px;
    font-size: 22px;
}

/*-------------Footer-----------------*/
.footer-1 {
    background: #6341EB;
}

.under-section-footer-1 {
    display: flex;
    justify-content: space-around;
}

.footer-list-2 li {
    list-style: none;
    color: #EEEEEE;
}

.footer-list-2 {
    margin-top: 10px;
}

.list-cgu-collect {
    margin-top: 10px;
}

.list-cgv-collect {
    margin-top: 10px;
}

.footer-list-3 li {
    list-style: none;
    color: #EEEEEE;
}

.footer-list-3 {
    margin-top: 10px;
}

.list-web-collect {
    margin-top: 10px;
}

.list-map-collect {
    margin-top: 10px;
}

.list-titi-collect {
    margin-top: 10px;
}

.list-story-collect {
    margin-top: 10px;
}

.list-actu-collect {
    margin-top: 10px;
}

.footer-list-4 li {
    list-style: none;
    color: #EEEEEE;
}

.footer-list-4 {
    margin-top: 10px;
}

.footer-list-5 li {
    list-style: none;
    color: #EEEEEE;
}

.footer-list-5 {
    margin-top: 10px;
}

.list-contact-collect {
    margin-top: 10px;
}

.list-find-collect {
    margin-top: 10px;
}

.list-faq-collect {
    margin-top: 10px;
}

.footer-list-6 li {
    list-style: none;
}

.footer-list-6 {
    margin-top: 10px;
}

.logo-insta-1 {
    width: 50px;
}

.logo-facebook-1 {
    width: 50px;
}

.logo-tiktok-1 {
    width: 50px;
}